:root {
    --primary-color: #0F172B;
    --secondary-color: #0c1429;
    --primary-text: #ffffff;
    --secondary-text: #00D492;
    --description-text: rgb(195, 209, 226);
    --border-color: #286756;

    /* --info-color: #17a2b8; */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}
body{
    background-color: var(--primary-color);
    color: var(--primary-text);
    margin: 0;
}
.header {
    font-size: 24px;
    /* margin-bottom: 20px; */
    text-decoration: none;
    text-align: center;
    justify-content: space-between;
    display: flex;
    padding: 0 20px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 8px;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--border-color);
    
}


.header a {
    /* color: var(--secondary-text); */
    text-decoration: none;
    margin-bottom: 10px;
    gap: 10px;
    font-size: 20px;
    /* color: var(--primary-text); */
}
.nav {
    display: flex;
    gap: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.cart-button {
    display: flex;
    align-items: center;
    gap: 10px;
    
}


.cart-btn {
    display: flex;
    gap: 6px;
    margin-left: 15px;
    border: none;
    align-items: center;

}


.cart-button ion-icon {
    background-color: var(--primary-color);
    padding: 10px;
    color: var(--primary-text);
    font-size: 19px;
    vertical-align: middle;
    height: 20px;
    padding-bottom: 15px;
    border: none;
    outline: none;
}

.cart-badge {
    background-color: var(--secondary-text);
    color: var(--primary-color);
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50px;
}
.cart-btn:hover {
    color: var(--secondary-text);
}
.logo {
    /* font-size: 48px; */
    font-weight: bold;
    color: var(--secondary-text);
    text-decoration: none;
    margin-left:90px;
    
    
}
.btn{
    text-decoration: none;
    border-radius: 10px;
    padding: 15px 50px; 
    background-color: var(--secondary-text);
    color: var(--primary-text);
    font-size: 16px;
    margin: 30px;
    margin-top: 40px;
    border: 2px solid var(--primary-color);
}
.about{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-text);
}
.about h1{
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--secondary-text);
}
.about p{
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    text-align: center;
    color: var(--description-text);
}
.our-team{
    margin-top: 40px;
    text-align: center;
}
.our-team h2{
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--primary-text);
}
.pic-container{
    display: flex;
    gap: 380px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    

    /* margin:0 20px;} */}
.pic{
    width: 300px;
    display: flex;
    /* flex-wrap: wrap; */
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 10px solid var(--secondary-color); */
}


.pic img{
    margin-bottom: 20px;
    /* margin: 10px 20px; */
    width: 400PX;
    /* margin: 10px; */
    border: 2px solid var(--secondary-text);

}
.pic span{
    margin-bottom: 2px;
    font-weight: bold;
    color: var(--description-text);
    
}
.pic a{
   text-decoration: none; 
   color: var(--secondary-text);
   font-size: 20px;
   /* border: 2px solid var(--secondary-text); ; */
}
.footer{
    background-color: var(--primary-color);
    color: var(--primary-text);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap: 280px;
    
    justify-content: center;
    font-size: 16px;
    
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 50px;
    border-bottom: 1px solid var(--border-color);
    
    
}
/* .footer a{
    text-decoration: none;
    color: var(--primary-text);
} */
.footer button{
    font-size: 20px;
    margin-bottom: 10px;
    background-color: none;
    color: var(--primary-text);
}
.social-media p{
    margin-bottom: 10px;
}
.quick-links, .contact-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

}
.copyright{
    text-align: center;
    color: var(--description-text);
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;}
.primary{
    background-color: var(--secondary-text);
    color: var(--primary-text);
    border: 0px solid var(--primary-color);
}
.primary:hover{
    background-color: var(--primary-text);
    color: var(--secondary-text);
    border: 0px solid var(--primary-color);
}
.secondary{
    background-color: var(--primary-text);
    color: var(--secondary-text);
    border: 0px solid var(--secondary-text);
}
.secondary:hover{
    background-color: var(--secondary-text);
    color: var(--primary-text);
    border: 0px solid var(--primary-color);
}
.main-btn{
    text-decoration: none;
    color: var(--secondary-text);
    font-size: 26px;
    /* margin: 30px; */
    /* margin-top: 40px; */
    border: 0px solid var(--primary-color);
}
/* .main-btn:hover{
    color: var(--primary-text);
    border: 0px solid var(--primary-color);
} */
.second-btn{
    text-decoration: none;
    color: var(--primary-text);
    font-size: 20px;
    /* margin: 30px; */
    /* margin-top: 40px; */
    border: 0px solid var(--secondary-color);
}
.second-btn:hover{
    color: var(--secondary-text);
    border: 0px solid var(--secondary-color);
}