:root {
    --primary-color: #0F172B;
    --secondary-color: #121d3a;
    --primary-text: #ffffff;
    --secondary-text: #00D492;
    --description-text: rgb(195, 209, 226);
    --border-color: #286756;
    /* --info-color: #17a2b8; */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}
body{
    background-color: var(--primary-color);
    color: var(--primary-text);
    margin: 0;
}

.header {
    font-size: 24px;
    /* margin-bottom: 20px; */
    text-decoration: none;
    text-align: center;
    justify-content: space-between;
    display: flex;
    padding: 0 20px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 2px;
    background-color: var(--primary-color);
/*     
    border-bottom: 1px solid var(--border-color); */
}


.header a {
    /* color: var(--secondary-text); */
    text-decoration: none;
    margin-bottom: 10px;
    gap: 10px;
    font-size: 20px;
    /* color: var(--primary-text); */
}
.nav {
    display: flex;
    gap: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}
.logo {
    /* font-size: 48px; */
    font-weight: bold;
    color: var(--secondary-text);
    text-decoration: none;
    margin-left:90px;
}

.search {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 40px;
    
}
.search input {
    padding: 10px;
    border: 10px solid var(--secondary-color);
    border-radius: 8px;
    border: none;
    outline: none;
    width: 200px;
    height: 40px;
}
.search_btn {
    background-color: var(--secondary-color);
    color: var(--primary-text);
    border: 3px solid var(--primary-color);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.search_btn:hover {
    background-color: transparent;
    color: var(--secondary-text);
    border: 3px solid var(--secondary-text);
}


.cart-button {
    display: flex;
    align-items: center;
    gap: 10px;
    
}


.cart-btn {
    display: flex;
    gap: 6px;
    margin-left: 15px;
    border: none;
    align-items: center;

}


.cart-button ion-icon {
    background-color: var(--primary-color);
    padding: 10px;
    color: var(--primary-text);
    font-size: 19px;
    vertical-align: middle;
    height: 20px;
    padding-bottom: 15px;
    border: none;
    outline: none;
}

.cart-badge {
    background-color: var(--secondary-text);
    color: var(--primary-color);
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50px;
}
.cart-btn:hover {
    color: var(--secondary-text);
}
.menu-section {
    border-top: 1px solid var(--border-color);

    padding: 80px 8%;
    background-color: var(--primary-color);
    text-align: center;
}

.menu-section h1 {
    font-size: 42px;
    margin-bottom: 10px;
    color: var(--secondary-text);
}

.menu-section p {
    color: var(--description-text);
    margin-bottom: 50px;
}


.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    align-items: stretch;
}


.menu-card {
    background-color: #13243A;
    border-radius: 16px;
    overflow: hidden;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    
    height: 100%;
}

.menu-card:hover {
    transform: translateY(-8px);
}


.menu-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}


.menu-content {
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
}


.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.category{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}
.category button{
    background-color: var(--secondary-color);
    color: var(--primary-text);
    border: 2px solid var(--secondary-color);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}
.category button:hover{
    background-color: transparent;
    color: var(--secondary-text);
    border: 2px solid var(--secondary-text);
}
.price {
    color: var(--secondary-text);
    font-weight: bold;
}


.menu-content p {
    font-size: 14px;
    color: var(--description-text);
    margin-bottom: 20px;
    /* flex-grow: 1; */
}


.add-btn {
    background-color: var(--secondary-text);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.add-btn:hover {
    opacity: 0.85;
}
.footer{
    background-color: var(--primary-color);
    color: var(--primary-text);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap: 280px;
    
    justify-content: center;
    font-size: 16px;
    
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 50px;
    border-top: 1px solid var(--border-color);

    border-bottom: 1px solid var(--border-color);

    
}
/* .footer a{
    text-decoration: none;
    color: var(--primary-text);
} */
.footer button{
    font-size: 20px;
    margin-bottom: 10px;
    background-color: none;
    color: var(--primary-text);
}
.social-media p{
    margin-bottom: 10px;
}
.quick-links, .contact-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

}
.copyright{
    text-align: center;
    color: var(--description-text);
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;}

.primary{
    background-color: var(--secondary-text);
    color: var(--primary-text);
    border: 5px solid var(--primary-color);
}
.primary:hover{
    background-color: transparent;
    color: var(--primary-text);
    border: 5px solid var(--primary-color);
}
.secondary{
    background-color: var(--primary-text);
    color: var(--secondary-text);
    border: 5px solid var(--secondary-text);
}
.secondary:hover{
    background-color: var(--secondary-text);
    color: var(--primary-text);
    border: 5px solid var(--primary-color);
}
.main-btn{
    text-decoration: none;
    color: var(--secondary-text);
    font-size: 26px;
    /* margin: 30px; */
    /* margin-top: 40px; */
    border: 0px solid var(--primary-color);
}
/* .main-btn:hover{
    color: var(--primary-text);
    border: 0px solid var(--primary-color);
} */
.second-btn{
    text-decoration: none;
    color: var(--primary-text);
    font-size: 20px;
    /* margin: 30px; */
    /* margin-top: 40px; */
    border: 0px solid var(--secondary-color);
}
.second-btn:hover{
    color: var(--secondary-text);
    border: 0px solid var(--secondary-color);
}